.kontakt-description {  
    font-size: 3.4rem;
    line-height: 1.8;
    padding: 4rem 0 3rem;

    display: grid;
    justify-content: center;
}

.hours{
    border-bottom: 1.3px solid #eee;
}

.hours-list {
    list-style: none;
    font-size: 2.4rem;
    line-height: 2;
    padding: 2rem 0 5rem;
}

.subheading-hours {
    display: block;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 500;
    color: #37b24d;
    text-transform: uppercase;
    padding: 8rem 0 4rem;
    letter-spacing: 0.75px;
}

.address {
    text-align: center;
    list-style: none;
    font-size: 2.4rem;
    line-height: 2;
    padding: 2rem 0 5rem;
}

.maps-container {
    /* width: 200rem; */
    padding-top: 4rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 2rem; */
}

.maps-view {
    box-shadow: 0 0 0 3px #112A46;
    border-radius: 15px;

    width: 85%;
    height: 70%;
}

.maps-img {
    width: 85%;
    height: 70%;
    border-radius: 15px;
    box-shadow: 0 0 0 3px #112A46;
}