.grid-opinions {
    display: grid;
    /* gap: 9.6rem; */
    column-gap: 7.4rem;
    row-gap: 12rem;
    padding: 7rem;
}

.heading-tertiary{
    font-size: 3rem;
}

.step-text-box {
    border: 2px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 2.8rem 4.8rem rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10rem;

    font-size: 2.3rem;

    perspective: 1000px;
}

.flipper {
    position: relative;
    width: auto;
    height: auto;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.step-text-box:hover .flipper{
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.back {
    transform: rotateY(180deg);

    font-size: 1.8rem;
    line-height: 1.6;
    color: black;
}

.name {
    font-size: 2.5rem;
    line-height: 2.4;
}

